.number-background1 {
  background-color: #6F98A8;
}

.number-background2 {
  background-color: #2B8EAD;
}

.number-background3 {
  background-color: #2F454E;
}

.number-background4 {
  background-color: #BFBFBF;
}